/* Common */
$firm-color: #00aeef; 
$triangle-height: 100px;
* {
	box-sizing:border-box;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: black;
	box-sizing: border-box;
	text-align: center;
	font-family: "PT Sans Narrow";
	text-transform: uppercase;
	letter-spacing: .15em;
	font-size: 0.9em;
	font-color: $firm-color;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-bottom: $triangle-height solid black; 
    border-left: 500px solid transparent;
    position: absolute;
	bottom: 0px;
}

.triangle-up {
    width: 0;
    height: 0;
    border-top: $triangle-height solid black; 
    border-right: 100px solid transparent;		
	position: absolute;
	top: 0px;

}

.narrow-video {
	height: 100%;
	}

.wide-video {
	width: inherit;
	object-fit: fill;
}
	
.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

/* common links */
a {
	transition: background-color 1.5s;
	text-decoration: none;
	padding: 3px;
	margin: 0px;
}

a:after {content:"///";
 		 letter-spacing: 0.3em;
 		 position:relative;
 		 bottom: 0.13em;
 		 margin-left: .18em;
 		 margin-right: 0px; }

.blue-link {
	a {color: $firm-color;}
	a:hover{background-color: white}
}

.white-link {
	a {color: white;}
	a:hover{background-color: $firm-color}
}

/* Оформление параграфов */

p {
	display: inline-block;
}
p:after {
	content:"///";
	letter-spacing: .25em;
	font-size: 0.9em;
	position:relative;
	bottom: 0.13em;
}
strong {
	color: $firm-color;
	font-weight: lighter;
	display: inline-block;
}

.white {
	color: white;
}

/* release container*/
#release-container {
	position: absolute;
	top: 0px;
	text-align: center;

	nav {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 5;

		.navigation {
			list-style-type: none;
			text-align: left;

			li {
				display: inline-block;
				margin: 0px;
				margin-top: 17px;
				padding-left: 0px;
				margin-left: 0px;
				padding-right: 0px;
				margin-right: 0px;
			}
		}
	}

	.release-block {
		height: auto;
		width: auto;
		display: inline-block;
		font-size: 1.2em;
		margin-top: $triangle-height;
		p {
			display: inline-block;
		}
		p:after {
			content:"///";
			letter-spacing: .2em;
			font-size: 0.85em;
			position:relative;
			bottom: .13em;
		}
		strong {
			color: $firm-color;
			font-weight: lighter;
			display: inline-block;
		}
	}
}

/* youtube container */
.latest-video {
	height: auto;
}

.youtube-container {
	margin-top: 20px;
	width: 45%;
	display: inline-block;


	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; height: 0; overflow: hidden;

	    iframe, object, embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
		}
	}
}
/* band section */
.text-wrapper {
	text-align: right;
	position: absolute;
	bottom: 5px;
	right: 5px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
	p {
		display: block
		strong {
			display:inline;
		}
	}

}
.band {
	height: 110%;
	background-color: gray;
	
	background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-filter 2s;
	transition: filter 2s, -webkit-filter 2s;

}

.image-wide {
	width: 100%;
}
.image-narrow {
	height: 100%
}


/* Login page styles */
.login-form {
	position: relative;
	top: 25%;
	width: 100%;
	display: inline-block;
	text-align: center;
	font-color: $firm-color;
	
	.input-field {
		  display: inline-block;
		  margin: 10px;
		  width: 50%;
		  font-family: PT Sans Narrow;
		  font-size: 1.3em;
		  border: solid 0px #dcdcdc;
		  background-color: rgba(0,0,0, 0.3);
		  text-align: center;
		  height: 3em;
		  transition: background-color 2s;
	}
	.input-field:hover {
		  background-color: $firm-color;
	}

	label{ 
		color: black;
	 }
	label::after {
		content: '///';
	}
}

.form-button {
	background-color: rgba(0,0,0, 0.3);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: PT Sans Narrow;
	font-size:16px;
	padding:16px 31px;
	text-decoration:none;
	border: 0px;
	transition: background-color 2s;
}
.form-button:hover {
	background-color: $firm-color;
}
.form-button:active {
	position:relative;
	top:1px;
}

        
